# Ignore object files, libs and executable files
*.o
*.dll
*.so
*.exe
*.sh

# Ignore bin, build and 3rdparty directories
bin/
build/
3rdparty/

# Ignore configured conan and CMake presets
conan/
CMakePresets.json

# Don't ignore build-scripts
!build.sh